.idea
build
*.iml
/local.properties
/gradle/local.properties
.gradle
atlassian-ide-plugin.xml
/.project
mapping.txt
seeds.txt
unused.txt
classes.txt
/*.log
local.properties
*.patch
proguard-output-seeds.txt
proguard-output-unused.txt
proguard-output-mapping.txt
proguard-output-classes.txt

